/*Import link for Josefin Slab font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

/*Import link for Sacramento font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Sacramento&display=swap');


html {
    overflow-x: hidden;
    /*Prevents browser from displaying left to right scroll bar
    due to negative values.*/
    scroll-behavior: smooth;
    /*Creates a smooth scrolling effect when a bookmark
    link is clicked.*/
}

/*NAVBAR*/
.nav-bar {
    position: sticky;
    /*Creates a sticky element that stays in the
    same spot in the browser screen*/
    top: 0;
    /*Tells browser to stick the element at the top of the page
    based on scroll position*/
    z-index: 9;
    /*Sets the stack layer of the navbar to scroll over
    all elements*/
}

ul {
    display: flex;
    /*Creates a flex container which will expand or shrink elements
    to fill the space available to them and place the elements 
    side by side horizontally*/
    list-style-type: none;
    /*Removes the default bullet points from the list*/
    align-items: center;
    margin: -8px -8px 0px -8px;
    /*Margin order is top, right, bottom, left.
    The negative margins will stretch the background beyond the edge of the browser
    screen*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);

}

a {
    display: block;
    /*Displays anchor elements vertically on a new line.
    This was added so the drop down menu would display vertically 
    instead of horizontally*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover,
.drop:hover a:only-of-type

/*Only-of-type effects the only child
element nested within an element. This will keep the background color
blue while hovering and the text white when we move the mouse over anchor
elements in the rollover-menu div element.*/
    {
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;

}

.rollover-menu {
    display: none;
    /*Prevents the anchor links in this div from 
    showing on the web browser until otherwise specified*/
    position: absolute;
    /*Positions the div element relative to the position
    of its parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*Creates a trigger effect when the user hovers their mouse
over the Recipes link. The trigger will display all elements within
the rollover-menu div element*/
.drop:hover .rollover-menu {
    display: block;
}

.rollover-menu a {
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover {
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);

}

.rollover-menu a:nth-child(1) {
    border-top: 5px solid rgb(238, 118, 136);
}

/*FOOTER*/

footer {
    align-items: center;
    /*Will align nested html elements in center,
    i.e. table data and paragraph elements in the footer tag*/
    margin: 0px -8px -8px -8px;
    /*Stretches footer background beyond
    browsers edge leaving no white space.*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
    /*Positions footer at bottom of screen*/

}

table {
    width: 100%;
    /*Stretches table to fill the entire width of the screen*/
}

td {
    width: 33%;
    /*Each table data item takes up 1/3 of avaiable space on 
the screen*/
}

td p {
    font-family: "Josefin Slab", serif;
    /*Font from fonts.google.com*/
    font-size: 20px;
    color: rgb(247, 177, 188);
    text-align: center;
    font-weight: 600;
}

/*BODY*/

.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;

}

/*HEADERS*/

h1 {
    font-family: "Sacramento", cursive;
    /*Font from fonts.google.com*/
    font-size: 80px;
    color: rgb(0, 80, 67);
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Josefin Slab", serif;
    /*Font from fonts.google.com*/
    text-align: center;
}

h2 {
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);

}

h3 {
    font-size: 30px;

}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*PARAGRAPHS*/

p {
    font-family: "Josefin Slab", serif;
    /*Font from fonts.google.com*/
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

/*IMAGES*/

/*positions elements to sit side by side on screen*/
.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/*Stytling for screens 1200px or smaller*/
@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        padding: 0px;
        margin-left: -15px;
        /*Centers each column on the screen*/
    }

    .recipe-container {
        width: 100%;
        height: auto;
        margin: 50px auto 100px;
    }
}

/*Specifically styles first 7 img tag elements contained
in elements with the .column class*/
.column img:nth-child(-n + 7) {
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
        0px 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.recipe-container {
    width: 500px;
    height: 350px;
    margin: 100px auto 180px;
    /*Shorthand value top, right and left,
    then bottom.*/
    perspective: 1000px;
    /*Tells browser how much 3d space an
    element should take up on the screen.*/
}

/*STYLING FOR MOBILE SIZE SCREENS*/
@media screen and (max-width: 600px) {
    .column img:nth-child(-n + 7) {
        width: 350px;
        height: 225px;
    }

    .recipe-container {
        width: 350px;
        height: 225px;
    }
}

.recipe-card-background {
    background-color: rgb(149, 238, 223);

}

/*Alternates blue time background on smaller screen sizes*/
@media screen and (max-width: 1200px) {
    #pork {
        background-color: rgb(255, 255, 255);
    }

    #biscuits {
        background-color: rgb(149, 238, 223);
    }

}

/*FEATURED RECIPE*/

/*Styles the featured recipe h3 tag element*/
#featured-header {
    font-family: 'Sacramento', cursive;
    /*Font from fonts.google.com*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-main-text {
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*Sets margin left to 0 because it is not needed on a small screen and
centers the text on the screen*/
@media screen and (max-width: 1200px) {
    #featured-main-text {
        margin-left: 0;
    }
}

/*Specifically styles the img tag nested within the #featured
div in the Featured Recipe section*/

@media screen and (min-width: 1600px) {
    #featured img {
        width: 700px;
        height: auto;
        /*Auto calculates image height based on width*/
        margin-left: -100px;
        margin-top: -20px;
        /*Margin left and top will override margin
        styling from the .recipe-container class*/
    }
}

/*Adjusts position of featured image to be centered in its
div when width is 1599px or less*/
@media screen and (max-width: 1599px) {
    #featured img {
        margin-left: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #featured .recipe-card-background {
        height: 300px;
    }

    #featured img {
        margin-top: -65px;
    }

}

#featured-button {
    display: block;
    /*Positions recipe button on its own line from
    the other elements in the div*/
    margin: 60px auto 0px;
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none;
    /*Removes default border set by browser when 
    border-radius is used*/
    font-family: 'Josefin Slab', serif;
    /*Font from fonts.google.com*/
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*SPecifically styles hover effect of recipe button in
Featured Recipe section*/
#featured-button:hover {
    background-color: rgb(247, 177, 188);
}

/*IMAGE FLIP EFFECT*/

/*Positions flip effect, defines transition time,
and defines 3d effect*/
.flip {
    position: relative;
    width: 100%;
    height: 100%;
    /*Setting the width and height to 100%
    will allow the effect to take up 100% of the space available*/
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    /*Treats elements as 3d objects
    instead of flat 2d objects.*/

}

.flip:hover {
    transform: rotateY(-180deg);
    /*Rotates an element from right to left*/
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-back {
    background-color: rgb(149, 238, 223);
    border: 2px solid white;
    transform: rotateY(180deg);
    /*Adds 180 deg back from previously
    subtracted 180 deg it moved to so the text can be read properly*/
}

.text-container {
    padding-top: 70px;
}

@media screen and (max-width: 600px) {
    .text-container {
        padding-top: 0px;
    }
}

/*RECIPE BUTTONS*/

input[type=button] {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Josefin Slab', serif;
    /*Font from fonts.google.com*/
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(247, 177, 188);
    color: white;
}

/*CONTACT FORM CSS*/

/*Sets up the content within the div tag containing the ID
contact to be centered on the webpage*/
#contact {
    display: block;
    margin-bottom: 70px;

}

form {
    display: table;
    /*This will display the form in a table 
    format as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    /*The browser will auto calculate margins to
    center the form on the page*/
}

/*This will specifically target the input tags nested
with the form tags*/

form input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out;
    /*Transitions back to light grey when
    user clicks away from input field*/
}

form input:focus {
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    /*Removes default border added when
    the focus pseudo class is used*/
    transition: 0.3s ease-out;
}

label {
    font-family: 'Josefin Slab', serif;
    /*Font from fonts.google.com*/
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    /*Allows user to resize text area in both
    width and height*/
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: 0.3s ease-out;
    /*Transitions back to light grey*/
}

textarea:focus {
    border: 3px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    transition: 0.3s ease-out;
}

input[type=submit] {
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefin Slab', serif;
    /*Font from fonts.google.com*/
    font-weight: bold;
    font-size: 20px;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
    /*Positions submit button to the right of the form*/
}

input[type=submit]:hover {
    background-color: rgb(247, 177, 188);
}

.about p{
    font-family: "Sacramento", cursive;
    /*Font from fonts.google.com*/
    font-size: 40px;
    color: rgb(0, 80, 67);
}